/*General Styles*/
body {
    color: #31302F;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 26px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.025em;
}



img{
    max-width:100%;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f1f2f5;
    -moz-use-text-color: #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
}
blockquote {
    font-size: 1.3em;
    line-height: 1.3;
    border-left:0;
    text-align: left;
    padding: 0 15%;
    margin: 40px 0;
}
/*Headline with Symbol*/
h1 {
    color: #494747;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 76px;
    line-height: 76px;
}
h1.mainhead {
    margin-bottom: 0.35em;
}
h1 i{
    color: rgb(73, 71, 71);
    font-size:32px;
}
h2 {
    color: #31302F;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin: 1em 0;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.17em;
    font-weight: 300;
    line-height: 16px;
    margin: 1em 0;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:17.5px;
    font-weight: 300;
}

p {
    margin: 1em 0;
}

p.indent {
    padding-left: 30px;
}

/* Buttons */
.btn-action {
    background: #6aaf4e;
    color: #FFF;
}

.btn {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    height: 34px;
    line-height: 1;
    padding: 7px 30px;
}
.btn[disabled], .btn.disabled, fieldset[disabled] .btn {
    opacity: 0.3;
}

.btn-link {
    color: #6aaf4e;
    display: inline-block;
    font-size: inherit;
    padding: 0;
}

.btn-linkedin {
    display: inline-block;
}

.btn-success {
    color: #fff;
    background-color: #6aaf4e;
}
.btn-success:hover{
    background-color: #5c980b;
}

.form-inline {
    display: inline-block;
}

.accent{
    color: #68A142;
}
.subhead{
    font-size:14px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*End Symbol Heads*/

/*Colors*/
.lightgrey {
    color:#949291;
}
.mongodbgreen {
    color: #6aaf4e;
}
/*Specific styles*/
.right {
    float: right;
}
.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}
.simple-btn {
    border-style: solid; border-color: #949291; border-width:1px;padding:1em 2em;margin: 60px 0px;
}
.nav-spaceholder {
    /* TODO just eliminate this element and associated styles everywhere? */
    display: none;
    height: 100px;
    width: 100%;
}
.instructortext {
    max-width: 60%;
}
p.intro{
    margin-top:2em;
    color:#949291;
    padding-bottom:2em;
}

.courseboxes p {
    width: 220px;
}


/* Top nav */
body {
    padding-top: 50px; /* should match top-nav height */
}
#top-nav {
    margin-bottom: 0px;
    background-color: white;
    /* border-bottom: 1px solid #d2d2d4; */ /* similar border to docs */
}
#top-nav .navbar-left {
    /* hack: we're using nav-right so that the dropdowns are left-aligned,
     * but the buttons themselves should be right-aligned,
     * so override bootstrap's rule here.
     */
    float: right !important;
}
#top-nav .nav-username {
    display: none;
    font-size: 13px;
    white-space: nowrap;
}
#top-nav .navbar-header .navbar-brand {
    padding-top: 11px;
    height: 18px;
}
#top-nav .navbar-header .navbar-brand img.logo {
    height: 27px;
}
#top-nav .navbar-collapse {
    z-index: 95;
    background-color: white;
}
#top-nav .nav > li > a {
    color: #75747a;
    font-weight: 600;
}
#top-nav .nav > li > a.btn { /* sign in or my courses */
    font-size: 14px;
    margin-left: 14px;
    margin-right: 14px;
    height: auto;
    border: none;

    color: white;
    font-weight: normal;
}
#top-nav .nav > li > a.btn:hover,
#top-nav .nav > li.open > a.btn { /* sign in or my courses */
    color: #4b484a;
}


@media (min-width: 768px) {
#top-nav .container-fluid {
    height: 46px;
}
#top-nav .navbar-collapse {
    padding: 0px;
}
#top-nav .nav > li > a:not(.btn) {
    font-size: 14px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 46px;
}
#top-nav .nav > li > a.btn { /* sign in or my courses */
    font-size: 13px;
    margin-right: 7.5px;
    margin-left: 3px;
    padding: 5px;
}
#top-nav .dropdown-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
}
}

@media (min-width: 1150px) {
body {
    padding-top: 95px; /* should match height of top nav */
}
#top-nav .container-fluid {
    width: 1200px;
}
#top-nav .nav-username {
    display: initial;
    position: absolute;
    right: 0px;
    top: 5px;
}
#top-nav .container-fluid {
    padding: 0px;
}
#top-nav .navbar-header {
    height: 95px;
}
#top-nav .navbar-brand {
    margin-top: 19px;
}
#top-nav .navbar-header .navbar-brand img.logo {
    height: 36px;
}
#top-nav .navbar-collapse {
    height: 95px;
    padding: 0px;
    margin: 0px;
}
#top-nav .navbar-left .dropdown-menu {
    left: 20px;
}
#top-nav .nav > li > a:not(.btn) {
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 95px;
    background-color: transparent !important; /* cancel bootstrap hover effect */
    -webkit-transition: color 300ms;
    transition: color 300ms;
}
#top-nav .nav > li > a:not(.btn):hover {
    color:#69b241;
}
#top-nav .nav > li > a.btn { /* sign in or my courses */
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 27px;
    margin-bottom: 27px;
    padding: 9.5px;
}
#top-nav .nav > li > a.btn:hover { /* sign in or my courses */
    color: #4b484a;
}


/* green bar underline effect */
#top-nav .nav > li > a:not(.btn):before{
   content:"";
   position: absolute;
   left:0;
   bottom: 20px;
   width:100%;
   height:5px;
   background-color:#69b241;
   -webkit-transition:300ms;
   transition:300ms;
   -webkit-transform:scale(0, 1);
   -ms-transform:scale(0, 1);
   transform:scale(0, 1);
   -webkit-transform-origin:0 50%;
   -ms-transform-origin:0 50%;
   transform-origin:0 50%
}
#top-nav .nav > li > a:not(.btn):hover:before {
   -webkit-transform:scale(1, 1);
   -ms-transform:scale(1, 1);
   transform:scale(1, 1)
}


}
/* End Top nav */



/*Footer */
#footer {
    color: #494747;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

#footer-nav,
#footer .social {
    height: 34px;
    line-height: 34px;
}

uppercase
/*End Footer*/

/* Buttons */
.btn-action {
    background: #6aaf4e;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    height: 34px;
    padding: 7px 30px;
}

/* Tables */

.table-fixed {
    table-layout: fixed;
}

/* Bio element */
.img-thumbnail-sm {
    height: 140px;
    width: 140px;
}

.img-thumbnail-md {
    height: 140px;
    width: 220px;
}

/* thumbnail */
.thumbnail-window {
    width:188px;
    height:120px;
    overflow:hidden;
    position:relative;
    text-align:center;
}
.thumbnail-window img{
    left: 0;
    max-width: none;
    position: absolute;
    height: 100%;
}



/* Logos */
.logo-box {
    border: 1px solid #c0bfbf;
    width: 221px;
    height: 142px;
}
.logo-box .helper {
    display: inline-block;
    height: 56px;
    vertical-align: middle;
}
.logo-box .logo {
    vertical-align: middle;
}

/* Hero */
.hero-container {
    position: relative;
    background: #000000;
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-container .hero {
    position: relative;
    height:500px;
    z-index: 5;
    opacity: .7;
}
.hero-container .h1-wrapper {
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 15;
}
.hero-container .h1-wrapper h1 {
    margin: 0 auto;
}
.hero-container .homehero {
    max-height:500px;
}

.homehero-content {
    margin: 0 auto;
    width: 85%;
}

.white {
    color: #FFFFFF;
}
.white-bg {
    background-color: #FFFFFF;
}
.black {
    color: #000000;
}
.hero.hero-opaque {
    opacity: 1;
}


.spaced-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* courseware */
.navbar-courseware {
    border-bottom: 1px solid #ddd;
}

.navbar-courseware .navbar-nav li {
    margin-bottom: -2px;
}

.navbar-courseware .navbar-nav li.active {
    border-bottom: 5px solid #ddd;
}

.navbar-courseware a,
.nav-course a {
    color: #31302f;
}

.nav-course-container {
    /*
     * Explicitly setting a background color is important so that scroll events
     * go to the div. Not setting a background color would leave parts of the div transparent,
     * so scroll events would bubble up to the parent.
     */
    background: white;
    /*overflow: scroll;*/

    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    /*
     * When the page loads, the course-content will still be empty.
     * The nav will be repositioned once the course-content loads.
     */
    height: 0;
}

.navbar-courseware a.btn-success {
    color: #fff;
}

.nav-course {
    font-size: 14px;
}

.course-content {
    /*
    This value for min-height was chosen because it's roughly the height the content
    would take up when displaying a youtube video.
    */
    min-height: 700px;
}

.nav-course .fa-check-circle {
    /* icon used to indicate a correct homework or final question */
    color: #6CA349;
}
.nav-course .fa-times {
    /* icon used to indicate an incorrect homework or final question */
    color: #B40000;
}

.section-viewed {
    /* for now we use the default styling for sections that have been viewed */
}
.section-unviewed {
    font-weight: 500;
}

.accordion-caret .accordion-toggle:before {
    font-size: 15px;
    color: #6aaf4e;
    position: absolute;
    left: 0;
}
.accordion-caret .accordion-toggle:not(.collapsed):before {
    content: "▾";
}
.accordion-caret .accordion-toggle.collapsed:before {
    content: "▸";
}
.accordion-caret {
    padding-left: 12px;
    border-bottom: 1px solid #ddd;
}

section.xmodule_display {
    margin: 0;
}

.capa_inputtype label {
    display: block;
    font-weight: 300 !important;
}

.action input.btn {
    display: inline-block !important;
    margin-right: 1em;
}

.vert-mod {
    list-style: none;
    padding: 0;
}

/* These styles are required to override what's defined in the
  sequence module.  Long-term, we need to update that xmodule to
  remove these definitions and to restructure the HTML */

.xmodule_SequenceModule nav.sequence-nav ul li,
.xmodule_SequenceModule nav.sequence-bottom ul li
{
    background-color: inherit !important;
    background-image: none !important;
}

.xmodule_SequenceModule nav.sequence-nav ul li.prev,
.xmodule_SequenceModule nav.sequence-nav ul li.next
{
    background-image: none !important;
}

.nav-course p {
    line-height: 1.25em;
    padding: 0;
}

.nav-course .active {
    background: #ddd;
}

.text-uppercase {
    text-transform: uppercase;
}

.nav-course h3 {
    margin-top: 0;
}

.vert-offset-1 {
    margin-top: 10px;
}
.vert-offset-2 {
    margin-top: 20px;
}
.vert-offset-3 {
    margin-top: 30px;
}
.vert-offset-4 {
    margin-top: 40px;
}
.vert-offset-5 {
    margin-top: 50px;
}
.vert-offset-6 {
    margin-top: 60px;
}
.vert-push-1 {
    margin-bottom: 10px;
}
.vert-push-2 {
    margin-bottom: 20px;
}
.vert-push-3 {
    margin-bottom: 30px;
}
.vert-push-4 {
    margin-bottom: 40px;
}
.vert-push-5 {
    margin-bottom: 50px;
}
.vert-push-6 {
    margin-bottom: 60px;
}

.inline-block {
    display: inline-block;
}

.no-top-margin {
    margin-top: 0;
}

/* Wiki */
#article_form .CodeMirror.CodeMirror-wrap {
    border: 1px solid #ddd;
}

/* Certificates */
.cert-pdf {
  width: 100%;
}

.cert-pdf-small {
  display: inline-block;
  width: 44vw;
  height: calc(34vw + 5px);
}

.border-right {
    border-right: 1px solid #ddd;
}

.media.media-vert-divider > .pull-left {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #ddd;
}

.vert-center {
    transform: translateY(25%);
}
#menu-move {
    font-size: 14px;
}

@media (max-width: 992px)  {
    .course {
	text-align: left;
    }

    .courseboxes{
	width:100%;
	float:none;
	margin:10px auto;
    }
    .courseboxes img{
	width:auto;
	float:none;
	margin-top:20px;
    }

}

@media (max-width: 768px)  {

    div.course {
	text-align: center;
    }
    .carousel-caption{
        margin: 0px auto;
        padding:6px 12px;
        position: relative;
        width: 100%;
    }

    .homehero img {
        display: None;
    }
    .homehero h1 {
        margin-bottom: 10px;
    }

    #footer-nav li {
	display:block;
	clear:both;
    }

}


/* Dashboard */

.my-courses-courses h2 {
    margin-top: 0;
}

.panel-flat {
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Modals */

/* This style is declared like this because we need it global and didn't have time to specify modal-flat in all of the modals. */
.modal .modal-content {
    border-radius: 0;
}

.modal-flat .modal-content {
    border-radius: 0;
}

.modal-flat .modal-footer {
    border-top: 0;
    text-align: inherit;
}

.modal-flat .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}

.modal-flat .modal-body {
    padding-top: 0;
}


/* Editor */
.editable[data-dirty]:hover {
    background: yellow;
}
.editable:hover {
    background: cyan;
}

#save-edit {
    margin-right: 30px;
}

/* This is for the navbar in the bottom */
body {
    padding-bottom: 70px;
}

/* on-demand course catalog */
.nav-pills-flat > li > a {
    border-radius: 0;
}

/* discussion */
#new-post-btn {
    padding-top: 8px;
    padding-bottom: 8px;
}

body.discussion .new-post-body .wmd-input {
    color: black;
}

#discussion-container .wmd-panel {
    min-width: 475px;
}

#discussion-container {
    font-size: 18px;
    line-height: 24px;
    color: #777;
}


#discussion-container h2 {
    margin: 0 0;
}

#discussion-container .response-body,
#discussion-container blockquote {
    color: #555;
    font-size: inherit;
}

#discussion-container blockquote {
    padding: 4px 15px 15px;
}

#discussion-container strong {
    font-weight: bold;
}

/* Alerts */

.alert-flat {
    border-radius: 0;
}

/* Loading animation */

.loading-animation {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: url("/static/images/spinner.bc34f953403f.gif") no-repeat;
}

/* analytics dashboard */
.ui-datepicker {
    padding:5px;
    background: white;
    border: 1px dotted;
    border-radius:10px;
}
.ui-datepicker a.ui-corner-all {
    cursor:pointer;
}

.ui-datepicker .ui-datepicker-next {
    float:right
}


/* course completion page */
.thumbnail-offsetparent {
    position: relative;
}
.thumbnail-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;

    opacity: 0.0;
}
.thumbnail-overlay:hover {
    opacity: 1.0;
}
.thumbnail-overlay .btn {
    /* vertical centering hack */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* embedded videos */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nowrap {
    white-space: nowrap;
}