<!--START FOOTER SECTION-->
<footer id="footer" class="container vert-offset-3">
  <div class="row">
    <div class="col-sm-12">
      <div id="footer-nav" class="pull-left">
        <ul class="list-inline">
          <li>Copyright © 2015 RailsUniversity, Inc.</li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#"> Legal Notices</a></li>
        </ul>
      </div>
      <div class="social pull-right">
        <a href="https://twitter.com"><img src="<%= asset_path "twitter.png" %>"></a>
        <a href="http://www.youtube.com"><img src="<%= asset_path "youtube.png" %>"></a>
        <a href="https://www.facebook.com/"><img src="<%= asset_path "facebook.png" %>"></a>
        <a href="http://www.linkedin.com/"><img src="<%= asset_path "linkedin.png" %>"></a>
        <a href="http://openedx.org"><img src="//files.edx.org/openedx-logos/edx-openedx-logo-tag-dark.png" height="32" alt="Powered by Open edX" /></a>
      </div><!--end social -->
    </div><!--end right col -->
  </div> <!--end footer row -->
</footer>
<!-- END FOOTER CONTAINER -->